body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 10px 0;
}
h1 {
    font-size: 3em;
    margin: 20px 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}
.marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
}
@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}
footer {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}